Package: danilo-base
Priority: important
Section: main
Version: 
Maintainer: Danilo Yorinori <danilo.mega@gmail.com>
Description: Pacote que instala pacotes essenciais (para mim)
Architecture: i386
Depends: vim, vlc, mplayer, pidgin, chromium-browser, build-essential,
 gqview, myspell-pt-br, ssh, gimp, inkscape, imagemagick, xpdf
